SECTION.uiCard.none, .none {
	display: none;
}

HTML {
	height: 100%;
}

BODY {
	padding: 0;
	margin: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	color: white;
	font-family: HelveticaNeue, Helvetica, sans-serif;
	overflow-x: hidden;
	background: black;
}

.uiStack {
	display: block;
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	-webkit-backface-visibility: hidden;
  -webkit-perspective: 800;
}

.uiCard {
	display: block;
	position: absolute;
	width: 100%;
	min-height: 100%;
	pointer-events: none;
	-webkit-animation-duration: 0.3s;
	-webkit-backface-visibility: hidden;
	-webkit-transform-origin: 50% 50%;
	opacity: 1;
}

.uiCard.none    { display: none; }
.uiCard.current { pointer-events: auto; }
	
.uiCard.slide-in           { -webkit-animation-name: slideInRight; }
.uiCard.slide-out          { -webkit-animation-name: dontmove; }
.uiCard.slide-reverse-in   { -webkit-animation-name: dontmove; }
.uiCard.slide-reverse-out  { -webkit-animation-name: slideOutRight; }

.uiCard.fade-in            { -webkit-animation-name: fadeIn; }
.uiCard.fade-out           { -webkit-animation-name: dontmove; }
.uiCard.fade-reverse-in    { -webkit-animation-name: dontmove; }
.uiCard.fade-reverse-out   { -webkit-animation-name: fadeOut; }

.uiCard.cube-in            { -webkit-animation-name: cubeInLeft; }
.uiCard.cube-out           { -webkit-animation-name: dontmove; }
.uiCard.cube-reverse-in    { -webkit-animation-name: dontmove; }
.uiCard.cube-reverse-out   { -webkit-animation-name: cubeOutLeft; }

.uiCard.flip-in            { -webkit-animation-name: flipLeftIn; }
.uiCard.flip-out           { -webkit-animation-name: flipLeftOut; }
.uiCard.flip-reverse-in    { -webkit-animation-name: flipRightIn; }
.uiCard.flip-reverse-out   { -webkit-animation-name: flipRightOut; }

.uiCard.zoom-in           { -webkit-animation-name: zoomCenterIn; }
.uiCard.zoom-out          { -webkit-animation-name: dontmove; }
.uiCard.zoom-reverse-in   { -webkit-animation-name: dontmove; }
.uiCard.zoom-reverse-out  { -webkit-animation-name: zoomCenterOut; }

@-webkit-keyframes dontmove {
	from { }
	to { }
}
@-webkit-keyframes slideInRight {
	from { -webkit-transform: translateX(100%); }
	to { -webkit-transform: translateX(0%); }
}
@-webkit-keyframes slideInReft {
	from { -webkit-transform: translateX(-100%); }
	to { -webkit-transform: translateX(0%); }
}
@-webkit-keyframes slideOutRight {
	from { -webkit-transform: translateX(0%); }
	to { -webkit-transform: translateX(100%); }
}
@-webkit-keyframes slideOutLeft {
	from { -webkit-transform: translateX(0%); }
	to { -webkit-transform: translateX(-100%); }
}
@-webkit-keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}
@-webkit-keyframes fadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}
@-webkit-keyframes zoomCenterIn {
	from { -webkit-transform: scale( 0.2 ); opacity: 0; }
	to { -webkit-transform: scale( 1 ); opacity: 1; }
}
@-webkit-keyframes zoomCenterOut {
	from { -webkit-transform: scale( 1 ); opacity: 1; }
	to { -webkit-transform: scale( 0.2 ); opacity: 0; }
}
@-webkit-keyframes flipLeftIn {
	from { -webkit-transform: rotateY( 180deg ); -webkit-animation-timing-function: ease-in; }
	50% { -webkit-transform: rotateY( 90deg ) scale( 0.85 ); -webkit-animation-timing-function: ease-out; }
	to { -webkit-transform: rotateY( 0deg ); }
}
@-webkit-keyframes flipLeftOut {
	from { -webkit-transform: rotateY(0deg); -webkit-animation-timing-function: ease-in; }
	50% { -webkit-transform: rotateY( -90deg ) scale( 0.85 ); -webkit-animation-timing-function: ease-out; }
	to { -webkit-transform: rotateY(-180deg); }
}
@-webkit-keyframes flipRightIn {
	from { -webkit-transform: rotateY(-180deg); -webkit-animation-timing-function: ease-in; }
	50% { -webkit-transform: rotateY( -90deg ) scale( 0.85 ); -webkit-animation-timing-function: ease-out; }
	to { -webkit-transform: rotateY (0deg ); }
}
@-webkit-keyframes flipRightOut {
	from { -webkit-transform: rotateY(0deg); -webkit-animation-timing-function: ease-in; }
	50% { -webkit-transform: rotateY( 90deg ) scale( 0.85 ); -webkit-animation-timing-function: ease-out; }
	to { -webkit-transform: rotateY( 180deg ); }
}
@-webkit-keyframes cubeOutLeft {
	from { -webkit-transform: rotateY(0deg) translateX(0%); }
	to { -webkit-transform: rotateY(-90deg) translateX(-100%); }
}

#a { background: #2d106f; }
#b { background: #d106f1; }
#c { background: #106f1c; }
#d { background: #06f1c5; }
#e { background: #6f1c50; }
#f { background: #f1c50f; }
#g { background: #1c50f3; }
